<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>Controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteController</servlet-name>
        <servlet-class>Controller.PacienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferirPacienteController</servlet-name>
        <servlet-class>Controller.TransferirPacienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteController</servlet-name>
        <url-pattern>/PacienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferirPacienteController</servlet-name>
        <url-pattern>/TransferirPacienteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
